<h1>Call API</h1>



<form #f="ngForm" novalidate >



  

    <div class="form-group">
        <label>search</label>
        <input class="form-control" [(ngModel)]="to" name="to">
    </div>
    <div class="form-group">
        <button
                class="btn btn-primary"
                name="btnSearch"
                [disabled]="!f.valid"
                (click)="search()">Search</button>
    </div>
</form>


<div class="row" style="margin-top:40px">
<pre>Result
----------------------
{{selectedFlight | json}}
</pre>
</div>